@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
}

.header,
.hero {
  padding: 0 15%;
  background-color: #1F2937;
}

.header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links-container {
  display: flex;
  gap: 28px;
  list-style-type: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.hero-text,
.hero-image {
  height: 50%;
  max-width: 600px;
}

.hero-text {
  flex: 1;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 15px;
}

.hero-image {
  flex: 1;
  color: #E5E7EB;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3882F6;
  color: white;
  padding: 8px 32px;
  border-radius: 5px;
  border: 0px;
  font-weight: 900;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 45vh;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding: 28px;
  margin-bottom: 20px;
}

.bubble-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.bubble {
  height: 150px;
  width: 150px;
}

.bubble-image{
  height: 150px;
  border: 3px solid #528ce9;
  border-radius: 10px;
  margin-bottom: 6px;
}

.bubble-subtext {
  color: #1F2937;
  text-align: center;
}

.quote {
  padding: 8% 20%;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
}

.quote-author {
  font-size: 22px;
  font-weight: bold;
  color: #1F2937;
  margin-left: auto;
  padding: 16px;
}

.sign-up {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-banner {
  width: 60%;
  display: flex;
  gap: 20px;
  border-radius: 5px;
  padding: 30px 10px;
  justify-content: space-around;
  color: white;
  background-color: #3882F6;
}

.sign-up-banner button {
  border: 2px solid white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #1F2937;
  color: white;
}